@import '../../index.scss';

form {
  margin: auto;
  max-width: 700px;
  padding: 24px;

  button {
    // pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $blue;
    // opacity: 0.4;
    color: white;
  }
}

.input-feild {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  input {
    font-size: 14px;
    padding: 12px;
    border: 2px solid $blue;
    border-radius: $border_radius;
  }

  p {
    font-size: 12px;
    color: tomato;
  }
}
